:root {
  --padding-all: 1rem;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  min-height: calc(100vh - 88px);

  display: grid;
  grid-template-columns: 300px 1fr;
}

.menu {
  min-height: calc(100vh - 88px);
  flex-grow: 1;
}

.homepage-container {
  flex-grow: 1;
  margin: 1rem;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: var(--padding-all);
}

.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-more {
  margin-top: 0 !important;
}

.crypto-image {
  width: 50px;
}
